====== Terminy ======



Kaskadowość - Dziedziczenie w css
serif - Mają glify
sans serif - Nie maja glifów (i tylko chyba to xd)



====== Podłączanie css ======



<link href="" rel="stylesheet" / rel="alternate-stylesheet" type="text/css">     /*Podpięcie arkusza .css do bazy .html, "alternate-stylesheet" w przypadku n>1 arkuszy*/
<style></style>                                                                  /*Dodanie css'a bezpośrednio w pliku html*/
<p style="color: red;"></p>                                                      /*Dodanie css'a bezpośrednio do znacznika*/
@font-face
{
  @import url("www.hwdp-strazy-miejskiej.pl/style.css")                            /*Podpięcie arkusza .css przez neta*/
}



====== Selektory CSS ======



* {
}
/*Dla wszystkich elementów domyślnie*/

div {
}
/*Dla wszystkich div'ów*/

div p {
}
/*Dla wszytkich <p> które są w divie*/

.przyklad {
}
/*Dla wszytkich znaczników ze zdefiniowanym class="przyklad"*/

div.przyklad {
}
/*Dla wszystkich div'ów z class="przyklad"*/

#przyklad {
}
/*Dla elementu z UNIKALNYM id="przyklad"*/

::placeholder {
}

div,
h2,
#przyklad,
h6.przyklad {
}
/*Dla grupy wszystkich wymienionych znaczników, class="" oraz id=""*/



====== Jednostki ======



px  /*pixele*/

pt  /*punkty, w prezentacja są do czcionek*/

%  /*Procenty w skali całej strony = 100% max*/

em  /*relatywne do aktualnego rozmiaru czcionki, 2em to 2*czcionka*/

ex /*generalnie czcionka bedzie mała ale będzie wyrównywać do czcionki obok (2ex wyjebie poza skale)*/

in  /*pedalski amerykański zamiennik hetero metra*/

pc /*12pt*/

ms /*mili-sekunda*/

s  /*sekunda noway noway*/

rad /*często wyrażanie stopni w informatyce, X*pi/180 = rad, gdzie X to liczba stopni*/

grad /*idk i mi to troche jebie*/

deg /*Stopnie*/



====== Kolory ======



hsl(100%,100%,100%) /*hue - barwa, saturation - nasycenie, lightness - jasnosc*/
hsla(0,0,0,0) /*To samo ale z dodatkiem kanału alpha, tak jakby przezroczystość*/
rgb(255,255,255) /*Red, Green, Blue*/
rgba(0,0,0,0) /*alpha*/



====== Jakieś inne fiubzdziu =======



!important = /*W przypadku dwoch "color: red;" & "color: green;" ten ktory ma !important bedzie mial priorytet*/

W przypadku wpisywania danych procentowych można również posłużyć się wartościami od 0 do 1.


====== Atrybuty "Proste Bardziej" ======



color: red/rgb(255,0,0)/#FF00FF;             /*Ustawia kolor czcionki*/

background-color: red/rgb(255,0,0)/#FF00FF;  /*Ustawia kolor tła*/

background-image: url('hebda/gej.png'); /*Ustawia obraz jako tło*/

background-size:100%, 200%; /*Ustawia wymiary tła*/

background-repeat /*Ustawia Powtazanie sie tła*/
- repeat/no-repeat /*Powtarzaj/Nie-powtarzaj*/
- repeat-y/repeat-x /*Powtarzaj w osi Y/w osi X*/

background-position /*Gdzie zaczyna sie background*/
- left/center/right
- top/bottom

background-clip /*Jak bardzo ma background wyjeżdżać*/
- border-box/padding-box/content-box /*Wchodzi w border/na bazie paddingu/na bazie margin*/

opacity:10%; /*Przeźroczystość*/

list-style-type: upper-roman; /*Ustawia typ list, może być stosowany zarówno do <ul> jak i <ol>*/

list-style-position: inside/outside; /*Gdzie ta kropka/liczba się znajduje*/

list-style-image: url('xd.gif'); /* obraz zamiasat kropki/liczby*/

position: absolute; /*wtedy uzywasz top:10px & right: 10px i bedzie 10px w górę i dół od górnego kątu ekranu*/

font-size: 12pt/12px;                        /*Ustawia rozmiar czcionki*/

text-indent: 12px;          /*Ustawia akapit*/

word-wrap: normal/break-word;     /*Default/Pozwala by dzielić słowa których normalnie nie można*/

letter-spacing: 12px;       /*Odstęp między literami, normal wraca do domyślnych*/

word-spacing: 11px;     /*Odstęp między słowami, normal wraca do domyślnych*/

line-height: 12px;      /*Odstęp między linijkami tekstu, dzieli się przez dwa (góra i dół), normal wraca do domyślnych*/

text-shader: 2px 2px 5px red;  /*Cień - prawa, dół, rozmycie, kolor*/

font-weight: bold /*Grubość czcionki, bold/normal | Teoretycznie jest 100-900 ale tego sie nie używa*/

font-variant: small-caps;     /*normal/small-caps - small-caps to taki smieszny trybik idk jak to opisac*/

font-family: 'Times New Roman';       /*Czcionki na stronie, jak jednej nie ma to wchodzi kolejna i tak w koło*/

text-align /*Ustawia tekst w bloku*/
- left/right/center /*Lewa/Prawa/Środek*/
- justify /*Żeby było równo idealnie kazda linijka*/

vertical-align /*Ustawia tekst w pion, aka w sztorc*/
- sub/super /*Dolny indeks/Górny indeks*/
- top/bottom/middle /*Góra/Dół/Środek*/

white-space
-pre/pre-wrap/*Jakbys dał <pre>/To samo ale może się złamać gdy przegladarka stwierdzi ze ma*/
-normal  /*Zgadnij xD*/

text-decoration
-overline/underline    /*Linia Na górze/Linia na dole*/
-none

text-transform
-capitalize   /*Pierwsza litera duża*/
-lowecase/uppercase /*male litery/DUZE LITERY*/
-none
