
<link href="" rel="stylesheet" / rel="alternate-stylesheet" type="text/css">      /*Podpięcie arkusza .css do bazy .html, "alternate-stylesheet" w przypadku n>1 arkuszy*/
@importu url("www.hwdp-strazy-miejskiej.pl/style.css")                            /*Podpięcie arkusza .css przez neta*/

====== Selektory CSS ======

* {
}
/*Dla wszystkich elementów domyślnie*/

div {
}
/*Dla wszystkich div'ów*/

div p {
}
/*Dla wszytkich <p> które są w divie*/

.przyklad {
}
/*Dla wszytkich znaczników ze zdefiniowanym class="przyklad"*/

div.przyklad {
}
/*Dla wszystkich div'ów z class="przyklad"*/

#przyklad {
}
/*Dla elementu z UNIKALNYM id="przyklad"*/

::placeholder {
}

div,
h2,
#przyklad,
h6.przyklad {
}
/*Dla grupy wszystkich wymienionych znaczników, class="" oraz id=""*/
====== Jednostki ( ͡° ͜ʖ ͡°) ======
px  /*pixele*/

pt  /*punkty, w prezentacja są do czcionek*/

%  /*Procenty w skali całej strony = 100% max*/

em  /*relatywne do aktualnego rozmiaru czcionki, 2em to 2*czcionka*/

ex /*generalnie czcionka bedzie mała ale będzie wyrównywać do czcionki obok (2ex wyjebie poza skale)*/

in  /*pedalski amerykański zamiennik hetero metra*/

pc /*12pt*/

ms /*mili-sekunda*/

s  /*sekunda noway noway*/

rad /*często wyrażanie stopni w informatyce, X*pi/180 = rad, gdzie X to liczba stopni*/

grad /*idk i mi to troche jebie*/

deg /*Stopnie*/

====== Atrybuty hehe ======
color: red/rgb(255,0,0)/#FF00FF;             /*Ustawia kolor czcionki*/

background-color: red/rgb(255,0,0)/#FF00FF;  /*Ustawia kolor tła*/

font-size: 12pt/12px;                        /*Ustawia rozmiar czcionki*/

font-family: comic-sans;                     /*Ustawia czcionke*/